<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="clockwork_url" value="https://api.clockworksms.com/http/send.aspx" />
    <add key="clockwork_key" value="4ee30b8294a0281e67c2ad9a4d28f97a659e54cf" />
  </appSettings>
  
</configuration>