<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MMPLogger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <appSettings>
    <add key="clockwork_url" value="https://api.clockworksms.com/http/send.aspx" />
    <add key="clockwork_key" value="4ee30b8294a0281e67c2ad9a4d28f97a659e54cf" />
  </appSettings>
  
  <applicationSettings>
    <MMPLogger.Properties.Settings>
      <setting name="MMPLogger_MMPWebService_MMPService" serializeAs="String">
        <value>http://hackmsrweb.cloudapp.net:81/MMPService.asmx</value>
      </setting>
    </MMPLogger.Properties.Settings>
  </applicationSettings>
</configuration>